### Convert a dictionary of lat/lon values encoded as a single string values to a dictionary of tuples containing two numeric types separated by commas.

In [9]:
locations = {"Chicago":"41.83,-88.01", "Paris":"48.8589996,2.20", "Tokyo":"35.67,139.56", \
            "San Paulo":"-22.4732068,-53.14"}

__Python dictionaries contain a key with values associated to the key.__  
The following demonstrates looping over each key to print the values within the key

In [12]:
for key in locations.keys():      #Loop through each key of the dictionary
    location_string = locations[key]   
    print ('The key is: ', key)
    print ('The values of ', key, ': ', location_string, '-', type(location_string))

The key is:  Chicago
The values of  Chicago :  41.83,-88.01 - <class 'str'>
The key is:  Paris
The values of  Paris :  48.8589996,2.20 - <class 'str'>
The key is:  Tokyo
The values of  Tokyo :  35.67,139.56 - <class 'str'>
The key is:  San Paulo
The values of  San Paulo :  -22.4732068,-53.14 - <class 'str'>

__Now split the single string on the comma to produce a list with 2 string elements.__

In [3]:
for key in locations.keys():      #Loop through each key of the dictionary
    location_string=locations[key].split(',')  #Split the geolocation on the comma returning an array with 2 elements 
    print (location_string, '-', type(location_string))

['41.83', '-88.01'] - <class 'list'>
['48.8589996', '2.20'] - <class 'list'>
['35.67', '139.56'] - <class 'list'>
['-22.4732068', '-53.14'] - <class 'list'>

__Print the individual elements and the type.__

In [4]:
for key in locations.keys():      #Loop through each key of the dictionary
    location_string=locations[key].split(',')  #Split the geolocation on the comma returning a list with 2 elements 
    print (location_string[0], '-', type(location_string[0]))
    print (location_string[1], '-', type(location_string[1]))

41.83 - <class 'str'>
-88.01 - <class 'str'>
48.8589996 - <class 'str'>
2.20 - <class 'str'>
35.67 - <class 'str'>
139.56 - <class 'str'>
-22.4732068 - <class 'str'>
-53.14 - <class 'str'>

__Add a new list to the process. Add the location_string elements.__

In [5]:
newlist=[]                         #Create a new list with no values
for key in locations.keys():       #Loop through each key of the dictionary
    location_string=locations[key].split(',')   #Split the geolocation on the comma returning 2 

    newlist.append(location_string) #convert the string into a float and append it to the list locations
print (newlist)

[['41.83', '-88.01'], ['48.8589996', '2.20'], ['35.67', '139.56'], ['-22.4732068', '-53.14']]

__Add an inner loop to iterate over the contents of the string. Convert each string to float.  Append to 'newlist' list.__

In [6]:
locations = {"Chicago":"41.83,-88.01", "Paris":"48.8589996,2.20", "Tokyo":"35.67,139.56", \
            "San Paulo":"-22.4732068,-53.14"}
for key in locations.keys():      #Loop through each key of the dictionary
    location_string=locations[key].split(',')   #Split the geolocation on the comma returning 2 
    newlist=[]                    #Create a new list with no values
    for i in range(len(location_string)):       #Loop through each of the values in the geolocation
        newlist.append(float(location_string[i])) #convert the string into a float and append it to the list
    print (newlist, type(newlist))

[41.83, -88.01] <class 'list'>
[48.8589996, 2.2] <class 'list'>
[35.67, 139.56] <class 'list'>
[-22.4732068, -53.14] <class 'list'>


__Add a line to convert the list 'newlist' to tuple. Add the tuple to the dictionary.__

In [7]:
locations = {"Chicago":"41.83,-88.01", "Paris":"48.8589996,2.20", "Tokyo":"35.67,139.56", \
            "San Paulo":"-22.4732068,-53.14"}
for key in locations.keys():      #Loop through each key of the dictionary
    location_string=locations[key].split(',')   #Split the geolocation on the comma returning 2 
    newlist=[]                    #Create a new list with no values
    for i in range(len(location_string)):       #Loop through each of the values in the geolocation
        newlist.append(float(location_string[i])) #convert the string into a float and append it to the list
    locations[key]=tuple(newlist)   #Update the dictionary values from string to a tuple of numeric types 
locations

{'Chicago': (41.83, -88.01),
 'Paris': (48.8589996, 2.2),
 'Tokyo': (35.67, 139.56),
 'San Paulo': (-22.4732068, -53.14)}

In [24]:
locations = {"Chicago":"41.83,-88.01", "Paris":"48.8589996,2.20", "Tokyo":"35.67,139.56", \
            "San Paulo":"-22.4732068,-53.14"}
location_string=[locations[key].split(',') for key in locations.keys()]
print (location_string)

[['41.83', '-88.01'], ['48.8589996', '2.20'], ['35.67', '139.56'], ['-22.4732068', '-53.14']]

In [22]:
results = [(i, j) for i in range(10) for j in range(i)]
print (results)

[(1, 0), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2), (4, 3), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8)]

In [25]:
[tuple(d.values()) for d in locations]

AttributeError: 'str' object has no attribute 'values'

In [27]:
locations = {"Chicago":"41.83,-88.01", "Paris":"48.8589996,2.20", "Tokyo":"35.67,139.56", "San Paulo":"-22.4732068,-53.14"}
# Step 1: Convert string values to numeric type 
for key in locations.keys():
    results = locations[key]
    print(results)
# Step 2: Convert values from dictionary to tuple 
listt =  [(k,v) for k, v in dict.items(locations)]
print('listt:',listt)
# Step 3: Format the tuple ?? 
end = [('Chicago', '41.83,-88.01'), ('Paris', '48.8589996,2.20'), ('Tokyo', '35.67,139.56'), ('San Paulo', '-22.4732068,-53.14')]
','.join('='.join(t) for t in end)

41.83,-88.01
48.8589996,2.20
35.67,139.56
-22.4732068,-53.14
listt: [('Chicago', '41.83,-88.01'), ('Paris', '48.8589996,2.20'), ('Tokyo', '35.67,139.56'), ('San Paulo', '-22.4732068,-53.14')]

'Chicago=41.83,-88.01,Paris=48.8589996,2.20,Tokyo=35.67,139.56,San Paulo=-22.4732068,-53.14'

In [30]:
 print(results)
#location_string=locations[key].split(',')

-22.4732068,-53.14

In [31]:
for key in locations.keys():
    results = locations[key]
    print(results.split(','))

['41.83', '-88.01']
['48.8589996', '2.20']
['35.67', '139.56']
['-22.4732068', '-53.14']

In [45]:
locations = {"Chicago":"41.83,-88.01", "Paris":"48.8589996,2.20", "Tokyo":"35.67,139.56", \
            "San Paulo":"-22.4732068,-53.14"}
for key in locations.keys():
    results = locations[key]
    results = results.split(',')
    locations[key]=tuple(results)
locations

{'Chicago': ('41.83', '-88.01'),
 'Paris': ('48.8589996', '2.20'),
 'Tokyo': ('35.67', '139.56'),
 'San Paulo': ('-22.4732068', '-53.14')}

In [44]:
locations = {"Chicago":"41.83,-88.01", "Paris":"48.8589996,2.20", "Tokyo":"35.67,139.56", \
            "San Paulo":"-22.4732068,-53.14"}
for key in locations.keys():
    results = locations[key].split(',')
    results = float(results[0])
results

-22.4732068