# Python Basics - Useful Python Notes

* Python is case sensitive. Observe or be burned

* There is no end statement character (like semicolon in Javascript)

* Indentation is important since there is not end of statement charater

* Preferred indentation method is 4 spaces. **Example below.**

In [1]:
#Here is an example of a correctly (though confusingly) indented piece of Python code:

def perm(l):
        # Compute the list of all permutations of l
    if len(l) <= 1:
        return [l]
    r = []
    for i in range(len(l)):
        s = l[:i] + l[i+1:]
        p = perm(s)
        for x in p:
            r.append(l[i:i+1] + x)
    return r
#perm('test')

In [3]:
#The following example shows various indentation errors:

     def perm(l):                       # error: first line indented
    for i in range(len(l)):             # error: not indented
        s = l[:i] + l[i+1:]
            p = perm(l[:i] + l[i+1:])   # error: unexpected indent
            for x in p:
                    r.append(l[i:i+1] + x)
                return r                # error: inconsistent dedentThe following example shows various indentation errors:

     def perm(l):                       # error: first line indented
    for i in range(len(l)):             # error: not indented
        s = l[:i] + l[i+1:]
            p = perm(l[:i] + l[i+1:])   # error: unexpected indent
            for x in p:
                    r.append(l[i:i+1] + x)
                return r                # error: inconsistent dedent

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

## Explicit Lines
Two or more physical lines may be joined into logical lines using backslash characters (\), as follows: when a physical line ends in a backslash that is not part of a string literal or comment, it is joined with the following forming a single logical line, deleting the backslash and the following end-of-line character. For example:

In [ ]:
def checkdate():
    if 1900 < year < 2100 and 1 <= month <= 12 \
        and 1 <= day <= 31 and 0 <= hour < 24 \
        and 0 <= minute < 60 and 0 <= second < 60:   # Looks like a valid date
            return 1

## Implicit line joining
Expressions in parentheses, square brackets or curly braces can be split over more than one physical line without using backslashes. For example:

In [ ]:
month_names = ['Januari', 'Februari', 'Maart',      # These are the
               'April',   'Mei',      'Juni',       # Dutch names
               'Juli',    'Augustus', 'September',  # for the months
               'Oktober', 'November', 'December']   # of the year

## Identifiers (variable names) 

&nbsp;&nbsp;&nbsp;must start with a letter or an underscore, such as:|  
&nbsp;&nbsp;&nbsp; \_underscore  
&nbsp;&nbsp;&nbsp; underscore\_  
&nbsp;&nbsp;&nbsp;The remainder of your variable name may consist of letters, numbers and underscores.  
&nbsp;&nbsp;&nbsp;password1  
&nbsp;&nbsp;&nbsp;n00b  
&nbsp;&nbsp;&nbsp;un_der_scores  
&nbsp;&nbsp;&nbsp;Names are case sensitive.  
&nbsp;&nbsp;&nbsp;case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.


| Operator | Description                                                                                                       | Example                      |
| -------- | ----------------------------------------------------------------------------------------------------------------- | ---------------------------- |
| ==       | If the values of two operands are equal, then the condition becomes true.                                         | `(26 == 26)` # True          |
| !=       | If the values of two operands are not equal, then condition becomes true.                                         | `('hello != 'Hello')` # True |
| >        | If the value of left operand is greater than the value of right operand, then condition becomes true.             | `(26 > 24)` # True           |
| <        | If the value of left operand is less than the value of right operand, then condition becomes true.                | `(24 < 26)` # True           |
| >=       | If the value of left operand is greater than or equal to the value of right operand, then condition becomes true. | `(26 >= 26)` # True          |
| <=       | If the value of left operand is less than or equal to the value of right operand, then condition becomes true.    | `(26 <= 26)` # True          |

In [4]:
print(26 == 26)           # True
print(26 == 42)           # False
print('hello' == 'hello') # True
print('hello' == 'Hello') # False
print('cat' != 'cow')     # True
print(42 == 42.0 )        # True
print(42 == '42')         # False

True
False
True
False
True
True
False

### data types

Python stores its data as various types. 

  * **numeric types** (integer and floating point)
  * **sequential types** (string, tuple, list)
  * **mappings** (dictionary, set)

Importantly, there are Python built-in functions that can convert types to other types ([`int`](https://docs.python.org/3/library/functions.html#int), [`float`](https://docs.python.org/3/library/functions.html#float), [`str()`](https://docs.python.org/3/library/functions.html#func-str), [`tuple`](https://docs.python.org/3/library/functions.html#func-tuple), [`list`](https://docs.python.org/3/library/functions.html#func-list), [`dict()`](https://docs.python.org/3/library/functions.html#func-dict), [`set`](https://docs.python.org/3/library/functions.html#func-set)).

For example, you can take a list and convert it to a tuple (we'll learn about these data structures below):

In [5]:
coords_list = [90.2,34.9]
coords_tuple = tuple(coords_list)  #converts the list (coord_list) into a tuple (coords_tuple)
print(coords_tuple)

(90.2, 34.9)

### numeric data types

Python 3 has three types of numeric data types. In practice, these types won't mean a lot for you, but recognize that the types involve different amounts of memory allocated to each (e.g., an integer requires fewer bits to represent it than a floating point number requires).

**integers**

Integers are whole numbers (i.e., not fractions), identified within python by `int`.

In [6]:
number = 4
print(number)
print(type(4))

4
<class 'int'>

**floating point**

Fractions (e.g., decimals) are represented within Python as floating number numbers, identified as `float`. The difference between the `int` and `float` types is the amount of memory allocated to each. The computer will use more memory to store a float type than an integer, even if the floating point value is `4.0`. In this case, it would better to use an integer.

In [7]:
number = 4.5
print(number) 
print(type(number))

4.5
<class 'float'>

Note that integers and floating points considered subtypes of the numeric data type, therefore you can use operators on int and float types without throwing the TypeError.

In [8]:
a = 4
b = 5.5
print(type(a), type(b))
c = a + b
print(c, type(c))

<class 'int'> <class 'float'>
9.5 <class 'float'>

Also, with Python 3 we can use division using integers and the result will be converted to the appropriate float representation (Python 2 would actually keep these as integers and lose the decimal values).

In [9]:
a = 4
b = 4
print(type(a), type(b)) 
c = a/b
print(c, type(c))

<class 'int'> <class 'int'>
1.0 <class 'float'>

#### numeric operators

When working with numeric values we often perform basic math operations. Python supports the following operators (ranked here from **highest to lowest precedence** ... if you remember PEMDAS from grade school):

| Operators | Operation        | Example         |
| --------- | ---------------- | --------------- |
| **        | Exponent         | `2 ** 3 = 8`    |
| %         | Modulus/Remaider | `22 % 8 = 6`    |
| //        | Integer division | `22 // 8 = 2`   |
| /         | Division         | `22 / 8 = 2.75` |
| *         | Multiplication   | `3 * 3 = 9`     |
| -         | Subtraction      | `5 - 2 = 3`     |
| +         | Addition         | `2 + 2 = 4`     |

## Print formatting

In [8]:
currency = 1.20
currency2 = 1141.80
percentage = .254893453453
print('${:,.2f}'.format(currency))   # $1.20
print('${:,.2f}'.format(currency2))  # $1,141.80
print('{:,.0f}%'.format(percentage * 100))  # 25%
print('This project is {:%} completed.'.format(percentage))
print('This project is {:.0%} completed.'.format(percentage))
print('This project is {:.1%} completed.'.format(percentage))

$1.20
$1,141.80
25%
This project is 25.489345% completed.
This project is 25% completed.
This project is 25.5% completed.
$12.12

In [12]:
import locale
locale.setlocale( locale.LC_ALL, 'English_United States.1252' )
locale.currency( 1234.50, grouping = True )

'$1,234.50'

## Looping

In [31]:
# loop through a list
names = ["john", "raj", "lisa"]
for i in names:
  print(i)

john
raj
lisa

In [30]:
# default range
for i in range(5):   # loops from 0-4
 print(i)

0
1
2
3
4

In [29]:
# custom start and end numbers
for i in range(1,6): # loops from 1-5
  print(i)

1
2
3
4
5

In [28]:
# loop with incremental numbers
for i in range(1,6,2):
  print(i)
# range(1,6,2) – will print 1,3 and 5
# range(1,5,2) – will print only 1 and 3

1
3
5

In [27]:
# loop range with negative numbers
# This example uses negative numbers for end-value (-5) and increment-value (-2)
for i in range(4,-5,-2):
  print(i)

4
2
0
-2
-4

In [32]:
#  Continue Statement Inside Python For Loop

names = ["john", "lisa", "raj", "lisa"]
for i in names:
  if i != "lisa":
    continue
  print(i)
print("--end--")

lisa
lisa
--end--

In [33]:
# Break Statement Inside Loop

names = ["john", "lisa", "raj", "lisa"]
for i in names:
  if i == "raj":
    break
  print(i)
print("--end--")

john
lisa
--end--

In [34]:
# loop with Else
# anything inside the else-block for the for-loop will get executed when the for statement fails 
names = ["john", "raj", "lisa"]
for i in names:
  print(i)
else:
  print("for loop condition failed!")

john
raj
lisa
for loop condition failed!

In [35]:
# Else and Break Combination

names = ["john", "lisa", "raj", "lisa"]
for i in names:
  if i == "raj":
    break
  print(i)
else:
  print("for loop condition failed!")
print("--end--")

john
lisa
--end--

In [36]:
# Nested loops

distros = ["centos", "redhat", "ubuntu"]
arch = ["32-bit", "64-bit"]
for i in distros:
  for j in arch:
    print(i + " " + j)
  print("-----------")

centos 32-bit
centos 64-bit
-----------
redhat 32-bit
redhat 64-bit
-----------
ubuntu 32-bit
ubuntu 64-bit
-----------

In [40]:
# List of list looping

multiple_state_lists = [ ["CA","NV","UT"], ["NJ","NY","DE"] ]
for state_list in multiple_state_lists:
  for state in state_list:
    print(state)

CA
NV
UT
NJ
NY
DE

## Lambda function

The lambda function is just awesome. Anytime you have can reduce a function to one expression you can use lambda to simplify the code.

where
```python
#function to accept the list of numbers returning the value if it is an odd number
def find_odds(n):
    if(n % 2 != 0):
        return n
```
can be reduced to
```python
(lambda x : x % 2 != 0, nums)
```

## Flipping strings

In [10]:
fruit = 'banana'
print(fruit[::-1])  #ananab

ananab

## .apply method

Checkout this website for some insight (https://www.ritchieng.com/pandas-apply/)

In [2]:
import pandas as pd
url = 'http://bit.ly/drinksbycountry'
drinks = pd.read_csv(url)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

### Sorting a dataframe
`df.sort_values('a_column_name',ascending=True)`

In [5]:
drinks.sort_values('total_litres_of_pure_alcohol', ascending=False).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
15,Belarus,142,373,42,14.4,Europe
98,Lithuania,343,244,56,12.9,Europe
3,Andorra,245,138,312,12.4,Europe
68,Grenada,199,438,28,11.9,North America
45,Czech Republic,361,170,134,11.8,Europe